## Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

For the arriving airport, you can use the Destination column in the searches file. 

Plot a curve for Málaga, another one for Madrid, and another one for Barcelona, in the same figure.

Suggestion: follow the below plan of action:

* Get familiar with the data
* Select columns of interest
* Decide what to do with NaNs

* Make processing plan
* Develop code that works with a sample

* Adjust the code to work with Big data
* Test big data approach on a sample

* Run program with big data

In [1]:
import bz2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [3]:
path_to_searches = '/home/dsc/Data/challenge/searches.csv.bz2'
sample = pd.read_csv(path_to_searches, sep='^', nrows=1000000)

/home/dsc/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
pd.options.display.max_columns = None
sample.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,AUH,2013-01-26,D2,NaN,AUH,TXL,2013-02-02,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,MIL,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,SFO,2013-08-02,NaN,NaN,SFO,ICT,2013-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,ARN,2013-01-02,DU,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,MAD,2013-03-22,NaN,NaN,MAD,OSL,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [7]:
sample.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice'],
      dtype='object')

In [8]:
sample_cols = sample[['Destination','Date']]

## Select the columns of interest

## Make processing plan

* Filter Mad, Bcn, Agp
* Create YYYY-MM column
* Group by [destination, YYYY-MM]
* Sum
* Plot the results

### filter out the the searches for MAD, BCN, AGP

Take only the rows having MAD, BCN or AGP as destination

In [24]:
mask1 = sample_cols['Destination'] == 'MAD'
mask2 = sample_cols['Destination'] == 'BCN'
mask3 = sample_cols['Destination'] == 'AGP'

madbcnagp = sample_cols[mask1 | mask2 | mask3] # el | es el or y el & es el y
madbcnagp

       Destination        Date
4              MAD  2013-01-01
93             AGP  2013-01-01
113            BCN  2013-01-01
147            AGP  2013-01-01
151            MAD  2013-01-01
165            BCN  2013-01-01
177            BCN  2013-01-01
186            BCN  2013-01-01
188            BCN  2013-01-01
208            BCN  2013-01-01
229            BCN  2013-01-01
242            AGP  2013-01-01
253            BCN  2013-01-01
322            BCN  2013-01-01
365            BCN  2013-01-01
375            MAD  2013-01-01
406            MAD  2013-01-01
458            AGP  2013-01-01
481            BCN  2013-01-01
500            BCN  2013-01-01
509            MAD  2013-01-01
541            BCN  2013-01-01
593            BCN  2013-01-01
606            MAD  2013-01-01
618            BCN  2013-01-01
623            BCN  2013-01-01
628            BCN  2013-01-01
633            BCN  2013-01-01
641            BCN  2013-01-01
674            AGP  2013-01-01
...            ...         ...
999046         MAD  2013-10-09
999058         BCN  2013-10-09
999105         MAD  2013-10-09
999109         MAD  2013-10-09
999128         MAD  2013-10-09
999131         MAD  2013-10-09
999152         BCN  2013-10-09
999267         BCN  2013-10-09
999306         AGP  2013-10-09
999308         MAD  2013-10-09
999316         MAD  2013-10-09
999322         BCN  2013-10-09
999354         MAD  2013-10-09
999366         BCN  2013-10-09
999404         MAD  2013-10-09
999432         BCN  2013-10-09
999466         AGP  2013-10-09
999471         MAD  2013-10-09
999557         MAD  2013-10-09
999631         BCN  2013-10-09
999679         MAD  2013-10-09
999681         BCN  2013-10-09
999705         BCN  2013-10-09
999768         MAD  2013-10-09
999779         BCN  2013-10-09
999799         BCN  2013-10-09
999815         BCN  2013-10-09
999884         MAD  2013-10-09
999911         MAD  2013-10-09
999997         AGP  2013-10-09

[33685 rows x 2 columns]

In [ ]:
madbcnagp = sample_cols.isin('MAD','BSN','AGP')

We need to get the month from the Date column

We cannot use a datetime function on 'date' column as it is string

Options:

* Using string and obtaining yyyy-mm directly from it

* Transforming string to date:      

  * parse_dates=['Date'] - in csv_read function

  * pd.to_datetime  - function

In [33]:
#madbcnagp.shape
of_interest = samples_colmn[madbcnagp]
of_interest
#sample['nombrede la nueva columna'] = 'valor'  o serie

NameError: name 'samples_colmn' is not defined

In [32]:
#madbcnagp['hora']. = pd.to_datetime('Date')
#madbcnagp
#madbcnagp['Date'].apply(lambda dt: dt.hour)
as_dates = pd.to_datetime(of_interest['Date'])
of_interest['Month'] = as_dates.apply(lambda  dt: dt.month)
of_interest

AttributeError: 'str' object has no attribute 'hour'

In [ ]:
madbcnagp['hora'] = pd.to_datetime

### Option 1) use directly pd.to_datetime()

what do we have so far?

### Option 2) get PlotDate directly from the string

In [ ]:
of_interest['PlotDate'] = of_interest['Date'].srt[:7]
of_interest

## group by arr_port search month

In [ ]:
search_per_airportmonth =  of_interest.groupby(['Destination', 'PlotDate']).count()

In [ ]:
search_per_airportmonth.resert_index()  # lo aplana con los indices

In [ ]:
sample = pd.read_csv(path_to_searches, sep='^', nrows=1000000)
sample_cols = sample['Destination'].isin(['MAD', 'BCN', 'AGP'])
of_interest = sample_cols[madbcnagp]
of_interest['PlotDate'] = of_interest['Date'].str[:7]
searches_per_airportmonth = of_interest.groupby(['Destination','PlotDat'])
unstacked = searches_per_airportmonth.reset_index()
unstacked.columns = ['Destination', 'PlotDate', 'Searches']
unstacked

In [ ]:
chunks = pd.read_csv(path_to_searches, sep='^', nrows=1000000, chunksize = 100000)

for chunk in chuks:

    sample_cols = sample['Destination'].isin(['MAD', 'BCN', 'AGP'])
    of_interest = sample_cols[madbcnagp]
    of_interest['PlotDate'] = of_interest['Date'].str[:7]
    searches_per_airportmonth = of_interest.groupby(['Destination','PlotDat'])
    unstacked = searches_per_airportmonth.reset_index()
    unstacked.columns = ['Destination', 'PlotDate', 'Searches']
    
    partial_result.append(unstacked)
    chunk_number += 1

consolidated = pd.concat(partial_result)
aggregated =consolidated.groupby(['Destination','PlotDate']).sum()
aggregated

Again.....What do we have?

## 4.3 Plotting

In [ ]:
# lo separamos en tres series y lo ploteamos

In [ ]:
pivoted = aggregated.reset_index().pivot('PlotDate', columns='Destination') 
# se resetea para sacar el indice y ponerlas en columnas
pivoted

In [ ]:
pivoted.plot()

## 5) Adjust the code to work with Big data