In [28]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

plt.style.use ('ggplot')

%matplotlib inline

# Loading CSV

In [29]:
!ls /home/dsc/Data/us_dot/traffic

T100_SEGMENT_ALL_CARRIER_2014.zip  T100_SEGMENT_ALL_CARRIER_2015.zip

In [30]:
!ls /home/dani/repos/master-data-science/data/us_dot/traffic/

ls: cannot access '/home/dani/repos/master-data-science/data/us_dot/traffic/': No such file or directory

In [31]:
!unzip -o /home/dsc/Data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip # -o sobreescribe

Archive:  /home/dsc/Data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv

In [32]:
filename = '914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv'

df = pd.read_csv(filename)    # Lee un fichero cdv. El seperado por defecto es ",". Si va "NY, USA" no es separador
df.head()                     # Si no tiene indice lo genera, aunque es mejor crear uno

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,10762,1076203,30762,BSL,"Mulhouse, France",NaN,NaN,NaN,FR,France,427,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,12651,1265101,32651,KEF,"Keflavik/Reykjavik, Iceland",NaN,NaN,NaN,IS,Iceland,439,15167,1516702,35167,TEB,"Teterboro, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,12889,1288903,32211,LAS,"Las Vegas, NV",NV,32.0,Nevada,US,United States,85,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,16085,1608503,36085,YHZ,"Halifax, Canada",NS,NaN,Nova Scotia,CA,Canada,951,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,14027,1402702,34027,PBI,"West Palm Beach/Palm Beach, FL",FL,12.0,Florida,US,United States,33,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,3,L,DF,NaN

Hay muchos argumentos con pd.read_csv(file): skiprows para eliminar celdas vacias o quoterchar para delimitar.
Si son muchos registros hace ellipsis, mosrtrando solo los primeros y los ultimos.

In [33]:
df.sample(5)     # muestra 5 de ejemplo

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
6351,0.0,1.0,57000.0,0.0,0.0,33840.0,0.0,1212.0,156.0,138.0,GFQ,20166.0,Gulf And Caribbean Cargo,06565,D,GFQ,Gulf And Caribbean Cargo,1,1.0,13061,1306104,33038,LRD,"Laredo, TX",TX,48.0,Texas,US,United States,74,11057,1105703,31057,CLT,"Charlotte, NC",NC,37.0,North Carolina,US,United States,36,7,715,2,2015,1,1,3,P,DU,NaN
113177,29.0,46.0,206182.0,871.0,290.0,0.0,0.0,385.0,4579.0,3974.0,ZK,20358.0,Great Lakes Airlines,06932,D,ZK,Great Lakes Airlines,1,6.0,14120,1412002,34120,PIR,"Pierre, SD",SD,46.0,South Dakota,US,United States,67,11292,1129202,30325,DEN,"Denver, CO",CO,8.0,Colorado,US,United States,82,4,405,1,2015,1,3,1,F,DU,NaN
75604,4.0,4.0,118200.0,512.0,448.0,587.0,2099.0,589.0,411.0,316.0,UA,19977.0,United Air Lines Inc.,0A875,D,UA,United Air Lines Inc.,3,3.0,13930,1393003,30977,ORD,"Chicago, IL",IL,17.0,Illinois,US,United States,41,12264,1226402,30852,IAD,"Washington, DC",VA,51.0,Virginia,US,United States,38,6,698,1,2015,1,3,2,F,DU,NaN
29204,0.0,2.0,85000.0,346.0,328.0,0.0,0.0,2211.0,525.0,495.0,GL,20402.0,Miami Air International,16690,I,GL,Miami Air International,2,2.0,14312,1431202,34312,PVR,"Puerto Vallarta, Mexico",NaN,NaN,NaN,MX,Mexico,148,14100,1410002,34100,PHL,"Philadelphia, PA",PA,42.0,Pennsylvania,US,United States,23,6,614,1,2015,1,3,5,L,IU,NaN
133477,61.0,58.0,2341000.0,9270.0,8018.0,3021.0,798.0,247.0,3984.0,2730.0,AA,19805.0,American Airlines Inc.,0A050,D,AA,American Airlines Inc.,3,3.0,11298,1129803,30194,DFW,"Dallas/Fort Worth, TX",TX,48.0,Texas,US,United States,74,14683,1468303,33214,SAT,"San Antonio, TX",TX,48.0,Texas,US,United States,74,6,614,1,2015,1,3,1,F,DU,NaN

In [34]:
pd.options.display.max_columns = None
df.head()          # muestra las primeras 5 lineas

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,10762,1076203,30762,BSL,"Mulhouse, France",NaN,NaN,NaN,FR,France,427,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,12651,1265101,32651,KEF,"Keflavik/Reykjavik, Iceland",NaN,NaN,NaN,IS,Iceland,439,15167,1516702,35167,TEB,"Teterboro, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,12889,1288903,32211,LAS,"Las Vegas, NV",NV,32.0,Nevada,US,United States,85,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,16085,1608503,36085,YHZ,"Halifax, Canada",NS,NaN,Nova Scotia,CA,Canada,951,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,14027,1402702,34027,PBI,"West Palm Beach/Palm Beach, FL",FL,12.0,Florida,US,United States,33,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,3,L,DF,NaN

# Saving to Excel

In [35]:
df.head(1000).to_excel('excel_output.xls')

# Saving to CSV

In [36]:
df.sample(10).to_csv('sample.csv')

In [37]:
df.sample(3).to_csv()

',DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50\n14505,0.0,1.0,51360.0,180.0,177.0,0.0,0.0,54.0,53.0,22.0,DL,19790.0,Delta Air Lines Inc.,01260,D,DL,Delta Air Lines Inc.,3,3.0,13204,1320402,31454,MCO,"Orlando, FL",FL,12.0,Florida,US,United States,33,11252,1125203,31252,DAB,"Daytona Beach, FL",FL,12.0,Florida,US,United States,33,6,622,1,2015,1,2,1,F,DU,\n28423,0.0,1.0,34700.0,179.0,47.0,0.0,0.0,362.0,63.0,48.0,09Q,21161.0,"Swift Air, LLC",01130,D,09Q,"Swift Air, LLC",1,4.0,11066,1106603,31066,CMH,"Columbus, OH",OH,39.0,Ohio,US,United States,44,14492,1449202,34492,RDU,"Raleigh/Durham, NC",NC,37.0,North Carolina,US,United States,36,6,617,1,2015,1,3,1,L,DU,\n131402,57.0,56.0,1131872.0,4424.0,3770.0,0.0,0.0,815.0,7846.0,5732.0,YV,20378.0,Mesa Airlines Inc.,06689,D,YV,Mesa Airlines Inc.,2,2.0,11423,1142303,31423,DSM,"Des Moines, IA",IA,19.0,Iowa,US,United States,61,11057,1105703,31057,CLT,"Charlotte, NC",NC,37.0,North Carolina,US,United States,36,6,638,1,2015,1,2,2,F,DU,\n'

In [38]:
s = 'a\nb'     # '\n' es un solo carácter  en linux
len(s)

3

In [39]:
print(s)

a
b

# To Sql Database

In [40]:
import sqlite3               # Es para conectar  y crear a una base de datos

conn = sqlite3.connect('example.db')      # Crea la base de datos conn

In [41]:
df.to_sql('traffic', conn, if_exists='replace')  # Crea la tabla traffic dentro de la base de datos conn y pasa contenido

/home/dsc/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

dbapi es una funcionalidad. Python es Database API es para conectar con cualquier base de datos con el mismo codigo

# Reading mysql database

In [42]:
df2 = pd.read_sql_query('SELECT * FROM traffic WHERE PASSENGERS > 10000',
                        conn)

df2.head()

,index,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,37,0.0,61.0,5365411.0,18353.0,16933.0,571685.0,0.0,4395.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10397,1039705,30397,ATL,"Atlanta, GA",GA,13.0,Georgia,US,United States,34,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,6,627,1,2015,1,1,9,F,IF,None
1,42,0.0,61.0,5365411.0,18353.0,16827.0,1274568.0,0.0,4395.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,10397,1039705,30397,ATL,"Atlanta, GA",GA,13.0,Georgia,US,United States,34,6,627,1,2015,1,1,9,F,IF,None
2,56,0.0,28.0,3619370.0,14448.0,12556.0,478166.0,0.0,3635.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,12478,1247802,31703,JFK,"New York, NY",NY,36.0,New York,US,United States,22,8,882,1,2015,1,1,8,F,IF,None
3,58,0.0,31.0,4054899.0,15996.0,13913.0,423487.0,0.0,5670.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,12892,1289203,32575,LAX,"Los Angeles, CA",CA,6.0,California,US,United States,91,8,882,1,2015,1,1,12,F,IF,None
4,59,0.0,27.0,3470887.0,13836.0,12888.0,413138.0,0.0,4589.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,13303,1330303,32467,MIA,"Miami, FL",FL,12.0,Florida,US,United States,33,8,882,1,2015,1,1,10,F,IF,None

# To dictionary and to json  (Java Script Object)

In [43]:
df.sample(5).to_dict()  # lo pasamos a un diccionario que es la forma de leerlo desde json

{'AIRCRAFT_CONFIG': {14933: 1, 15581: 2, 31097: 1, 38041: 1, 146211: 1},
 'AIRCRAFT_GROUP': {14933: 6, 15581: 6, 31097: 6, 38041: 6, 146211: 6},
 'AIRCRAFT_TYPE': {14933: 623,
  15581: 640,
  31097: 617,
  38041: 612,
  146211: 694},
 'AIRLINE_ID': {14933: 19790.0,
  15581: 20447.0,
  31097: 21142.0,
  38041: 19534.0,
  146211: 21171.0},
 'AIR_TIME': {14933: 99.0,
  15581: 174.0,
  31097: 0.0,
  38041: 0.0,
  146211: 11437.0},
 'CARRIER': {14933: 'DL', 15581: 'U7', 31097: '9V', 38041: 'AM', 146211: 'VX'},
 'CARRIER_GROUP': {14933: 3, 15581: 2, 31097: 0, 38041: 0, 146211: 3},
 'CARRIER_GROUP_NEW': {14933: 3.0,
  15581: 2.0,
  31097: 0.0,
  38041: 0.0,
  146211: 3.0},
 'CARRIER_NAME': {14933: 'Delta Air Lines Inc.',
  15581: 'USA Jet Airlines Inc.',
  31097: 'Avior Airlines, C.A.',
  38041: 'Aeromexico',
  146211: 'Virgin America'},
 'CLASS': {14933: 'F', 15581: 'P', 31097: 'F', 38041: 'F', 146211: 'F'},
 'DATA_SOURCE': {14933: 'DU',
  15581: 'IU',
  31097: 'IF',
  38041: 'IF',
  146211: 'DU'},
 'DEPARTURES_PERFORMED': {14933: 1.0,
  15581: 1.0,
  31097: 30.0,
  38041: 8.0,
  146211: 204.0},
 'DEPARTURES_SCHEDULED': {14933: 0.0,
  15581: 0.0,
  31097: 0.0,
  38041: 0.0,
  146211: 206.0},
 'DEST': {14933: 'SLC',
  15581: 'YIP',
  31097: 'BLA',
  38041: 'LAX',
  146211: 'LAX'},
 'DEST_AIRPORT_ID': {14933: 14869,
  15581: 16091,
  31097: 10658,
  38041: 12892,
  146211: 12892},
 'DEST_AIRPORT_SEQ_ID': {14933: 1486903,
  15581: 1609102,
  31097: 1065803,
  38041: 1289203,
  146211: 1289203},
 'DEST_CITY_MARKET_ID': {14933: 34614,
  15581: 31295,
  31097: 30658,
  38041: 32575,
  146211: 32575},
 'DEST_CITY_NAME': {14933: 'Salt Lake City, UT',
  15581: 'Detroit, MI',
  31097: 'Barcelona, Venezuela',
  38041: 'Los Angeles, CA',
  146211: 'Los Angeles, CA'},
 'DEST_COUNTRY': {14933: 'US',
  15581: 'US',
  31097: 'VE',
  38041: 'US',
  146211: 'US'},
 'DEST_COUNTRY_NAME': {14933: 'United States',
  15581: 'United States',
  31097: 'Venezuela',
  38041: 'United States',
  146211: 'United States'},
 'DEST_STATE_ABR': {14933: 'UT',
  15581: 'MI',
  31097: nan,
  38041: 'CA',
  146211: 'CA'},
 'DEST_STATE_FIPS': {14933: 49.0,
  15581: 26.0,
  31097: nan,
  38041: 6.0,
  146211: 6.0},
 'DEST_STATE_NM': {14933: 'Utah',
  15581: 'Michigan',
  31097: nan,
  38041: 'California',
  146211: 'California'},
 'DEST_WAC': {14933: 87, 15581: 43, 31097: 388, 38041: 91, 146211: 91},
 'DISTANCE': {14933: 689.0,
  15581: 1518.0,
  31097: 1486.0,
  38041: 1307.0,
  146211: 337.0},
 'DISTANCE_GROUP': {14933: 2, 15581: 4, 31097: 3, 38041: 3, 146211: 1},
 'FREIGHT': {14933: 0.0,
  15581: 2526.0,
  31097: 0.0,
  38041: 3425.0,
  146211: 0.0},
 'MAIL': {14933: 64.0, 15581: 0.0, 31097: 0.0, 38041: 0.0, 146211: 0.0},
 'MONTH': {14933: 2, 15581: 2, 31097: 4, 38041: 4, 146211: 3},
 'ORIGIN': {14933: 'SEA',
  15581: 'SLW',
  31097: 'MIA',
  38041: 'GDL',
  146211: 'SFO'},
 'ORIGIN_AIRPORT_ID': {14933: 14747,
  15581: 14886,
  31097: 13303,
  38041: 11874,
  146211: 14771},
 'ORIGIN_AIRPORT_SEQ_ID': {14933: 1474703,
  15581: 1488603,
  31097: 1330303,
  38041: 1187404,
  146211: 1477101},
 'ORIGIN_CITY_MARKET_ID': {14933: 30559,
  15581: 34886,
  31097: 32467,
  38041: 31874,
  146211: 32457},
 'ORIGIN_CITY_NAME': {14933: 'Seattle, WA',
  15581: 'Saltillo, Mexico',
  31097: 'Miami, FL',
  38041: 'Guadalajara, Mexico',
  146211: 'San Francisco, CA'},
 'ORIGIN_COUNTRY': {14933: 'US',
  15581: 'MX',
  31097: 'US',
  38041: 'MX',
  146211: 'US'},
 'ORIGIN_COUNTRY_NAME': {14933: 'United States',
  15581: 'Mexico',
  31097: 'United States',
  38041: 'Mexico',
  146211: 'United States'},
 'ORIGIN_STATE_ABR': {14933: 'WA',
  15581: nan,
  31097: 'FL',
  38041: nan,
  146211: 'CA'},
 'ORIGIN_STATE_FIPS': {14933: 53.0,
  15581: nan,
  31097: 12.0,
  38041: nan,
  146211: 6.0},
 'ORIGIN_STATE_NM': {14933: 'Washington',
  15581: nan,
  31097: 'Florida',
  38041: nan,
  146211: 'California'},
 'ORIGIN_WAC': {14933: 93, 15581: 148, 31097: 33, 38041: 148, 146211: 91},
 'PASSENGERS': {14933: 97.0,
  15581: 0.0,
  31097: 3894.0,
  38041: 855.0,
  146211: 24495.0},
 'PAYLOAD': {14933: 61740.0,
  15581: 30000.0,
  31097: 779579.0,
  38041: 227179.0,
  146211: 7586556.0},
 'QUARTER': {14933: 1, 15581: 1, 31097: 2, 38041: 2, 146211: 1},
 'RAMP_TO_RAMP': {14933: 127.0,
  15581: 188.0,
  31097: 0.0,
  38041: 0.0,
  146211: 16296.0},
 'REGION': {14933: 'D', 15581: 'I', 31097: 'I', 38041: 'I', 146211: 'D'},
 'SEATS': {14933: 234.0,
  15581: 0.0,
  31097: 4320.0,
  38041: 992.0,
  146211: 30015.0},
 'UNIQUE_CARRIER': {14933: 'DL',
  15581: 'U7',
  31097: '9V',
  38041: 'AM',
  146211: 'VX'},
 'UNIQUE_CARRIER_ENTITY': {14933: '01260',
  15581: '16917',
  31097: '71024',
  38041: '9148B',
  146211: '01006'},
 'UNIQUE_CARRIER_NAME': {14933: 'Delta Air Lines Inc.',
  15581: 'USA Jet Airlines Inc.',
  31097: 'Avior Airlines, C.A.',
  38041: 'Aeromexico',
  146211: 'Virgin America'},
 'Unnamed: 50': {14933: nan, 15581: nan, 31097: nan, 38041: nan, 146211: nan},
 'YEAR': {14933: 2015, 15581: 2015, 31097: 2015, 38041: 2015, 146211: 2015}}

In [44]:
df.sample(5).to_json()  # lo pasamos a formato json que es muy parecido a un diccionario

'{"DEPARTURES_SCHEDULED":{"74225":4.0,"30006":0.0,"126310":47.0,"76183":4.0,"11168":0.0},"DEPARTURES_PERFORMED":{"74225":4.0,"30006":31.0,"126310":47.0,"76183":0.0,"11168":4.0},"PAYLOAD":{"74225":188040.0,"30006":994594.0,"126310":470000.0,"76183":0.0,"11168":12700.0},"SEATS":{"74225":728.0,"30006":5664.0,"126310":2350.0,"76183":0.0,"11168":36.0},"PASSENGERS":{"74225":584.0,"30006":4968.0,"126310":2181.0,"76183":0.0,"11168":5.0},"FREIGHT":{"74225":0.0,"30006":0.0,"126310":0.0,"76183":0.0,"11168":0.0},"MAIL":{"74225":0.0,"30006":0.0,"126310":0.0,"76183":0.0,"11168":290.0},"DISTANCE":{"74225":3414.0,"30006":2002.0,"126310":528.0,"76183":1069.0,"11168":40.0},"RAMP_TO_RAMP":{"74225":1907.0,"30006":0.0,"126310":4483.0,"76183":0.0,"11168":76.0},"AIR_TIME":{"74225":1812.0,"30006":0.0,"126310":3397.0,"76183":0.0,"11168":60.0},"UNIQUE_CARRIER":{"74225":"UA","30006":"LJ","126310":"EV","76183":"DL","11168":"8E"},"AIRLINE_ID":{"74225":19977.0,"30006":21416.0,"126310":20366.0,"76183":19790.0,"11168":20331.0},"UNIQUE_CARRIER_NAME":{"74225":"United Air Lines Inc.","30006":"Jin Air Co Ltd.","126310":"ExpressJet Airlines Inc.","76183":"Delta Air Lines Inc.","11168":"Bering Air Inc."},"UNIQUE_CARRIER_ENTITY":{"74225":"0A875","30006":"71086","126310":"06085","76183":"01260","11168":"06992"},"REGION":{"74225":"D","30006":"I","126310":"D","76183":"D","11168":"D"},"CARRIER":{"74225":"UA","30006":"LJ","126310":"EV","76183":"DL","11168":"8E"},"CARRIER_NAME":{"74225":"United Air Lines Inc.","30006":"Jin Air Co Ltd.","126310":"ExpressJet Airlines Inc.","76183":"Delta Air Lines Inc.","11168":"Bering Air Inc."},"CARRIER_GROUP":{"74225":3,"30006":0,"126310":3,"76183":3,"11168":1},"CARRIER_GROUP_NEW":{"74225":3.0,"30006":0.0,"126310":3.0,"76183":3.0,"11168":5.0},"ORIGIN_AIRPORT_ID":{"74225":11292,"30006":12016,"126310":13930,"76183":12478,"11168":13111},"ORIGIN_AIRPORT_SEQ_ID":{"74225":1129202,"30006":1201602,"126310":1393003,"76183":1247802,"11168":1311102},"ORIGIN_CITY_MARKET_ID":{"74225":30325,"30006":32016,"126310":30977,"76183":31703,"11168":33111},"ORIGIN":{"74225":"DEN","30006":"GUM","126310":"ORD","76183":"JFK","11168":"LUR"},"ORIGIN_CITY_NAME":{"74225":"Denver, CO","30006":"Guam, TT","126310":"Chicago, IL","76183":"New York, NY","11168":"Cape Lisburne, AK"},"ORIGIN_STATE_ABR":{"74225":"CO","30006":"TT","126310":"IL","76183":"NY","11168":"AK"},"ORIGIN_STATE_FIPS":{"74225":8.0,"30006":75.0,"126310":17.0,"76183":36.0,"11168":2.0},"ORIGIN_STATE_NM":{"74225":"Colorado","30006":"U.S. Pacific Trust Territories and Possessions","126310":"Illinois","76183":"New York","11168":"Alaska"},"ORIGIN_COUNTRY":{"74225":"US","30006":"US","126310":"US","76183":"US","11168":"US"},"ORIGIN_COUNTRY_NAME":{"74225":"United States","30006":"United States","126310":"United States","76183":"United States","11168":"United States"},"ORIGIN_WAC":{"74225":82,"30006":5,"126310":41,"76183":22,"11168":1},"DEST_AIRPORT_ID":{"74225":12982,"30006":12277,"126310":14576,"76183":11697,"11168":14102},"DEST_AIRPORT_SEQ_ID":{"74225":1298202,"30006":1227702,"126310":1457604,"76183":1169704,"11168":1410203},"DEST_CITY_MARKET_ID":{"74225":32982,"30006":31945,"126310":34576,"76183":32467,"11168":34102},"DEST":{"74225":"LIH","30006":"ICN","126310":"ROC","76183":"FLL","11168":"PHO"},"DEST_CITY_NAME":{"74225":"Lihue, HI","30006":"Seoul, South Korea","126310":"Rochester, NY","76183":"Fort Lauderdale, FL","11168":"Point Hope, AK"},"DEST_STATE_ABR":{"74225":"HI","30006":null,"126310":"NY","76183":"FL","11168":"AK"},"DEST_STATE_FIPS":{"74225":15.0,"30006":null,"126310":36.0,"76183":12.0,"11168":2.0},"DEST_STATE_NM":{"74225":"Hawaii","30006":null,"126310":"New York","76183":"Florida","11168":"Alaska"},"DEST_COUNTRY":{"74225":"US","30006":"KR","126310":"US","76183":"US","11168":"US"},"DEST_COUNTRY_NAME":{"74225":"United States","30006":"South Korea","126310":"United States","76183":"United States","11168":"United States"},"DEST_WAC":{"74225":2,"30006":778,"126310":22,"76183":33,"11168":1},"AIRCRAFT_GROUP":{"74225":6,"30006":6,"126310":6,"76183":8,"11168":4},"AIRCRAFT_TYPE":{"74225":622,"30006":614,"126310":675,"76183":819,"11168":416},"AIRCRAFT_CONFIG":{"74225":1,"30006":1,"126310":1,"76183":1,"11168":1},"YEAR":{"74225":2015,"30006":2015,"126310":2015,"76183":2015,"11168":2015},"QUARTER":{"74225":1,"30006":2,"126310":1,"76183":2,"11168":1},"MONTH":{"74225":2,"30006":4,"126310":3,"76183":4,"11168":2},"DISTANCE_GROUP":{"74225":7,"30006":5,"126310":2,"76183":3,"11168":1},"CLASS":{"74225":"F","30006":"F","126310":"F","76183":"F","11168":"F"},"DATA_SOURCE":{"74225":"DU","30006":"IF","126310":"DU","76183":"DU","11168":"DU"},"Unnamed: 50":{"74225":null,"30006":null,"126310":null,"76183":null,"11168":null}}'

# Reading Excel

In [45]:
pd.read_excel('excel_output.xls').head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0,1,528,11,2,0,0,3899,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,10762,1076203,30762,BSL,"Mulhouse, France",NaN,NaN,NaN,FR,France,427,6,669,1,2015,1,1,8,L,IF,NaN
1,0,2,3621,22,2,0,0,2589,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,12651,1265101,32651,KEF,"Keflavik/Reykjavik, Iceland",NaN,NaN,NaN,IS,Iceland,439,15167,1516702,35167,TEB,"Teterboro, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,6,L,IF,NaN
2,0,1,2169,11,2,0,0,1210,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,12889,1288903,32211,LAS,"Las Vegas, NV",NV,32.0,Nevada,US,United States,85,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,6,669,1,2015,1,1,3,L,DF,NaN
3,0,1,1342,11,1,0,0,2316,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,16085,1608503,36085,YHZ,"Halifax, Canada",NS,NaN,Nova Scotia,CA,Canada,951,6,669,1,2015,1,1,5,L,IF,NaN
4,0,1,275,11,1,0,0,1023,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,14027,1402702,34027,PBI,"West Palm Beach/Palm Beach, FL",FL,12.0,Florida,US,United States,33,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,3,L,DF,NaN

In [46]:
accidentes_2009 = pd.read_excel('/home/dsc/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                                skiprows=7,skipfooter=1,parse_cols='A:K')
accidentes_2009
# skiprows (filas que se omiten al principio),skipfooter(filas que se omiten al final)

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
0,ARGANZUELA,389,54,126,75,9.0,43,9,4.0,5,8
1,BARAJAS,89,6,53,21,NaN,12,2,1.0,2,2
2,CARABANCHEL,375,44,171,137,8.0,36,13,6.0,9,8
3,CENTRO,514,55,171,143,NaN,61,12,3.0,10,12
4,CHAMARTIN,494,70,133,92,10.0,72,22,2.0,6,7
5,CHAMBERI,414,35,87,87,3.0,51,12,4.0,4,5
6,CIUDAD LINEAL,398,64,124,101,3.0,57,17,5.0,4,4
7,FUENCARRAL-EL PARDO,321,47,151,78,11.0,34,16,7.0,2,8
8,HORTALEZA,215,16,109,58,3.0,29,13,7.0,4,4
9,LATINA,298,40,134,85,7.0,24,10,2.0,9,11
10,MONCLOA-ARAVACA,340,57,210,71,11.0,48,8,7.0,1,13
11,MORATALAZ,151,26,59,40,NaN,23,3,2.0,3,4
12,PUENTE DE VALLECAS,367,54,196,122,8.0,22,14,2.0,5,11
13,RETIRO,369,59,74,51,4.0,48,10,8.0,6,6
14,SALAMANCA,535,56,122,104,3.0,107,31,NaN,5,2
15,SAN BLAS,301,29,88,66,3.0,20,10,3.0,2,5
16,TETUAN,338,23,115,101,1.0,42,15,5.0,7,8
17,USERA,214,24,96,53,1.0,13,2,1.0,4,3
18,VICALVARO,86,6,39,15,6.0,9,4,3.0,2,2
19,VILLA DE VALLECAS,142,6,67,36,3.0,8,4,1.0,2,3
20,VILLAVERDE,148,19,65,46,4.0,9,4,3.0,1,8

In [47]:
accidentes_2010 = pd.read_excel('/home/dsc/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                                skiprows=7,skipfooter=1,parse_cols='A:K',sheetname='2010')
accidentes_2010

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
0,ARGANZUELA,403,48,103,75,7,26,15.0,2.0,5.0,6.0
1,BARAJAS,62,5,34,22,1,11,NaN,NaN,NaN,NaN
2,CARABANCHEL,357,35,133,114,7,22,14.0,6.0,7.0,1.0
3,CENTRO,546,43,142,169,2,60,14.0,9.0,13.0,9.0
4,CHAMARTIN,460,67,128,85,11,77,16.0,1.0,8.0,5.0
5,CHAMBERI,361,34,86,103,1,66,14.0,5.0,2.0,4.0
6,CIUDAD LINEAL,404,79,120,90,8,39,12.0,6.0,7.0,2.0
7,FUENCARRAL-EL PARDO,294,49,165,72,10,26,9.0,6.0,3.0,2.0
8,HORTALEZA,183,15,68,44,4,11,8.0,4.0,3.0,3.0
9,LATINA,273,37,93,94,6,24,4.0,7.0,10.0,4.0
10,MONCLOA-ARAVACA,350,47,177,75,10,45,9.0,6.0,9.0,11.0
11,MORATALAZ,127,21,58,33,6,13,5.0,2.0,2.0,1.0
12,PUENTE DE VALLECAS,324,44,157,107,7,20,9.0,3.0,8.0,7.0
13,RETIRO,349,55,33,57,2,45,12.0,7.0,7.0,5.0
14,SALAMANCA,506,44,131,89,6,89,19.0,1.0,9.0,6.0
15,SAN BLAS,274,27,62,66,2,22,6.0,2.0,5.0,2.0
16,TETUAN,331,25,87,89,3,47,13.0,6.0,4.0,3.0
17,USERA,178,36,78,78,4,14,2.0,4.0,NaN,4.0
18,VICALVARO,65,4,60,22,3,16,NaN,1.0,1.0,5.0
19,VILLA DE VALLECAS,124,9,63,32,8,9,3.0,1.0,NaN,3.0
20,VILLAVERDE,147,21,58,54,2,9,4.0,2.0,2.0,1.0

#### Exercise

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

In [48]:
sheets = pd.read_excel('/home/dsc/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                       skiprows=7, skipfooter=1, parse_cols='A:K', 
                       sheetname=None)

result = []

for name in sheets.keys():
    
    year = int(name)
    
    skiprows = 4 if year == 2013 else 7
    
    this_sheet = pd.read_excel('/home/dsc/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                       skiprows=skiprows, skipfooter=1, parse_cols='A:K', 
                       sheetname=name)
    
    this_sheet['YEAR'] = year
    result.append(this_sheet)
    
whole_df = pd.concat(result)

whole_df.sample(3)

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,YEAR
20,VILLAVERDE,140,10,75,46,1.0,5,5.0,1.0,3.0,2.0,2011
11,MORATALAZ,150,31,53,32,5.0,23,5.0,2.0,4.0,2.0,2016
20,VILLAVERDE,177,11,71,54,1.0,8,5.0,6.0,2.0,1.0,2016

In [49]:
whole_df.loc[1]

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,YEAR
1,BARAJAS,89,6,53,21,NaN,12,2.0,1.0,2.0,2.0,2009
1,BARAJAS,62,5,34,22,1.0,11,NaN,NaN,NaN,NaN,2010
1,BARAJAS,78,3,44,30,3.0,9,3.0,NaN,1.0,NaN,2011
1,BARAJAS,82,5,36,19,2.0,7,3.0,2.0,NaN,3.0,2012
1,BARAJAS,70,4,30,28,1.0,10,4.0,1.0,2.0,NaN,2013
1,BARAJAS,76,1,37,20,2.0,5,2.0,2.0,NaN,1.0,2014
1,BARAJAS,77,2,44,24,4.0,18,5.0,7.0,3.0,1.0,2015
1,BARAJAS,95,6,50,34,4.0,12,2.0,4.0,2.0,4.0,2016